In [1]:
import pandas as pd

In [14]:
area = pd.Series({'CN': 9.6, 'RU': 17, 'US': 9.8}, dtype='float16')
population = pd.Series({'CN': 1386, 'RU': 144, 'US': 327}, dtype='float16')
capital = pd.Series({'CN': 'Beijing', 'RU': 'Moscow',
                     'US': 'Washington, D.C.'})

In [3]:
area[0]

9.6

In [20]:
area['CN']

CN     9.601562
RU    17.000000
US     9.796875
dtype: float16

In [8]:
countries = pd.DataFrame({
    'area': area,
    'population': population,
    'capital': capital})

In [19]:
countries

    area  population           capital
CN  10.0      1386.0           Beijing
RU  17.0       144.0            Moscow
US  10.0       327.0  Washington, D.C.